<div>
  <a [routerLink]="['/home']">Home</a>
</div>

<div>
  <a [routerLink]="['/signin']">Signin</a>
</div>

<div>
  <a [routerLink]="['/signup']">SignUp</a>
</div>

<div>
  <a [routerLink]="['/lojas']">Lojas</a>
</div>

<div>
  <a [routerLink]="['/profissionais']">Profissionais</a>
</div>

<button (click)="show()">Exibir modal</button>

<app-modal
  (confirm)="onConfirm($event)"
  [isVisible]="(modalService.modalConfirmIsVisible$ | async) || false"
  [buttons]="[
    { label: 'Cancelar', value: false },
    { label: 'Confirmar', value: true }
  ]"
  >
    
  <p>Aviso importante: Você deseja continuar?</p>

</app-modal>


<router-outlet />
